<div class="about-us-container">
    <div class="about-us-content">
      <h1>À propos de nous</h1>
      <p>
        Bienvenue sur notre plateforme musicale! Nous nous engageons à offrir une
        expérience musicale unique et personnalisée pour nos utilisateurs du monde entier.
      </p>
      <p>
        Avec des millions de titres, des playlists soigneusement conçues et des
        recommandations basées sur vos préférences, notre mission est de connecter les
        auditeurs à la musique qu'ils aiment.
      </p>
      <p>
        Notre équipe est passionnée par la musique et la technologie, et nous
        travaillons sans relâche pour vous offrir les dernières fonctionnalités et
        une interface utilisateur intuitive.
      </p>
      <p>
        Merci de faire partie de notre communauté musicale. Ensemble, nous
        redéfinissons la manière dont le monde écoute de la musique!
      </p>
      <a   class="contact-link">Contactez-nous</a>
    </div>
  </div>
  